.avatar-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid lightgreen;
  margin-left: -8px;
}
